{% extends "base.html.twig" %}
{% block title %}
Liste des employés
{% endblock %}
{% block nav %}
{{ include ("modules/navbar.html.twig") }}
{% endblock %}

{% block  body %}
<section class="content mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1 class="h3">Information sur Toavina</h1>

    </div>

    <div class="col-md-4 row">

      <div class="col-md-4">
        <a href="employe-edit" class="btn btn-block btn-primary maincolor btn-sm btn-flat">
          <i class="fa fa-edit mr-2"></i>
          Modifier</a>

      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-block btn-primary maincolor btn-sm btn-flat" data-toggle="modal"
          data-target="#modal-lg">
          <i class="fa fa-print"></i>
          Imprimer
        </button>
      </div>
      <div class="col-md-4">
        <a href="" class="btn btn-block btn-danger btn-sm btn-flat">
          <i class="fas fa-times mr-2"></i>
          Débaucher</a>

      </div>


    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                src="https://thumbs.dreamstime.com/b/jeune-homme-d-affaires-africain-r%C3%A9ussi-45853931.jpg"
                alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">Nina Mcintire</h3>

            <p class="text-muted text-center"><small class="badge badge-success"><i class="fa fa-check"></i></small>
              Présent(e)</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Unité</b> <a class="float-right">1,322</a>
              </li>
              <li class="list-group-item">
                <b>Service</b> <a class="float-right">543</a>
              </li>
              <li class="list-group-item">
                <b>Département</b> <a class="float-right">13,287</a>
              </li>
              <li class="list-group-item">
                <b>Diréction</b> <a class="float-right">13,287</a>
              </li>

              <li class="list-group-item">
                <b>Heure Début</b> <a class="float-right">07:00</a>
              </li>
              <li class="list-group-item">
                <b>Heure Fin</b> <a class="float-right">16:00</a>
              </li>
            </ul>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <h4>Aujourd'hui</h4>
          </div>
          <div class="card-body">
            <div class="btn-group btn-group-toggle row col-sm-12" data-toggle="buttons">

              <label class="btn btn-default text-center mr-2">
                <input type="radio" name="color_option" id="color_option1" autocomplete="off">
                <span class="text-xl">00:23</span>
                <br>
                Retard
              </label>
              <label class="btn btn-default text-center mr-2">
                <input type="radio" name="color_option" id="color_option1" autocomplete="off">
                <span class="text-xl"><i class="fa fa-times"></i></span>
                <br>
                Congé
              </label>
              <label class="btn btn-default text-center mr-2">
                <input type="radio" name="color_option" id="color_option1" autocomplete="off">
                <span class="text-xl">--:--</span>
                <br>
                Permission
              </label>
              <label class="btn btn-default text-center mr-2">
                <input type="radio" name="color_option" id="color_option1" autocomplete="off">
                <span class="text-xl">01:30</span>
                <br>
                Heure Sup
              </label>
              <!-- /.post -->

              <!-- Post -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item "><a class="nav-link active " href="#seven_days" data-toggle="tab">Récapitulation</a>
              </li>

              <li class="nav-item"><a class="nav-link" href="#conge" data-toggle="tab">Demande de congés</a></li>
              <li class="nav-item"><a class="nav-link" href="#about" data-toggle="tab">Parcours</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="seven_days">
                <div class="card">
                  <div class="card-header row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Période :
                        </label>
                        <select class="form-control select2 form-control-sm" style="width: 100%;" name="limit">
                          <option value="10" selected="selected">7 derniers jours
                          </option>
                          <option value="25">14 derniers jours
                          </option>
                          <option value="50">30 derniers jours
                          </option>
                          <option value="100">3 derniers mois
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group  row ml-2">
                        <label class="col-sm-12">Afficher :
                        </label>
                        <div class="custom-control custom-checkbox col-sm-3">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" checked="">
                          <label for="customCheckbox1" class="custom-control-label font-weight-normal">Avec
                            retard</label>
                        </div>
                        <div class="custom-control custom-checkbox col-sm-3">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked="">
                          <label for="customCheckbox2" class="custom-control-label font-weight-normal">Absence</label>
                        </div>
                        <div class="custom-control custom-checkbox col-sm-3">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox3" checked="">
                          <label for="customCheckbox3"
                            class="custom-control-label font-weight-normal">Permission</label>
                        </div>
                        <div class="custom-control custom-checkbox col-sm-3">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox4" checked="">
                          <label for="customCheckbox4" class="custom-control-label font-weight-normal">Heure Sup</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="col-md-3 float-left mb-3">
                        <button type="submit"
                          class="btn btn-block btn-primary maincolor btn-sm btn-flat">Afficher</button>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 row  p-2">
                    <div class="col-md-6">
                      <div class="col-12">
                        <h4>Nombre de jours : </h4>
                      </div>
                      <canvas id="presenceChart"
                        style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%; display: block; width: 487px;"
                        width="487" height="200" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="col-md-6">
                      <div class="col-12">
                        <h4>Total : </h4>
                      </div>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Retard
                            <span class="float-right text-danger">
                              01:04</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Heure Sup
                            <span class="float-right text-success">
                              07:30
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            Congé pris
                            <span class="float-right">
                              1 jour
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Présence</th>
                          <th>Congé</th>
                          <th>Retard</th>
                          <th>Permission (H. Départ)</th>
                          <th>Heure Sup</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>23 oct 2020</td>
                          <td>Oui</td>
                          <td>Non</td>
                          <td>00:19</td>
                          <td>--:--</td>
                          <td>01:30</td>
                        </tr>
                        <tr>
                          <td>22 oct 2020</td>
                          <td>Oui</td>
                          <td>Non</td>
                          <td>--:--</td>
                          <td>--:--</td>
                          <td>01:30</td>
                        </tr>
                        <tr>
                          <td>21 oct 2020</td>
                          <td>Oui</td>
                          <td>Non</td>
                          <td>--:--</td>
                          <td>--:--</td>
                          <td>01:30</td>
                        </tr>
                        <tr>
                          <td>20 oct 2020</td>
                          <td>Oui</td>
                          <td>Non</td>
                          <td class="bg-danger">00:45</td>
                          <td>--:--</td>
                          <td>01:30</td>
                        </tr>
                        <tr>
                          <td>19 oct 2020</td>
                          <td class="bg-danger">Non</td>
                          <td>Non</td>
                          <td>--:--</td>
                          <td>--:--</td>
                          <td>--:--</td>

                        </tr>
                        <tr>
                          <td>18 oct 2020</td>
                          <td>Oui</td>
                          <td>Non</td>
                          <td>--:--</td>
                          <td>--:--</td>
                          <td>01:30</td>
                        </tr>
                        <tr>
                          <td>17 oct 2020</td>
                          <td class="bg-warning">Non</td>
                          <td>Oui</td>
                          <td>--:--</td>
                          <td>--:--</td>
                          <td>--:--</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>

              <div class="tab-pane" id="conge">
                <div class="card-header row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date de début
                        (Date min)</label>
                      <input type="date" class="form-control form-control-sm" placeholder="Date de pointage"
                        name="date_pointage[min]">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date de début
                        (Date max)</label>
                      <input type="date" class="form-control form-control-sm" placeholder="Date de pointage"
                        name="date_pointage[min]">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group  row ml-2">
                      <label class="col-sm-12">Afficher :
                      </label>
                      <div class="custom-control custom-checkbox col-sm-6">
                        <input class="custom-control-input" type="checkbox" id="customCheckbox1" checked="">
                        <label for="customCheckbox1" class="custom-control-label font-weight-normal">Validé</label>
                      </div>
                      <div class="custom-control custom-checkbox col-sm-6">
                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked="">
                        <label for="customCheckbox2" class="custom-control-label font-weight-normal">Non Validé</label>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-md-3 float-left mb-3">
                      <button type="submit"
                        class="btn btn-block btn-primary maincolor btn-sm btn-flat">Afficher</button>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Date de demande</th>
                      <th>Date de début</th>
                      <th>Date Fin</th>
                      <th>Motif</th>
                      <th>Validation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>18 Oct 2020</td>
                      <td>20 Oct 2020</td>
                      <td>20 Oct 2020</td>
                      <td>Reunion Familiale</td>
                      <td><span class="badge bg-danger">Non validé</span></td>
                    </tr>
                    <tr>
                      <td>15 Oct 2020</td>
                      <td>17 Oct 2020</td>
                      <td>17 Oct 2020</td>
                      <td>Reunion Familiale</td>
                      <td><span class="badge bg-success">validé</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane" id="about">
                <div class="timeline timeline-inverse">
                  <div class="time-label">
                    <span class="bg-success">
                      16 Aout 2020
                    </span>
                  </div>
                  <div>
                    <i class="fas fa-check bg-primary"></i>

                    <div class="timeline-item">
                      <h3 class="timeline-header border-0">Déplacement vers le département HHTM
                      </h3>
                    </div>
                  </div>
                  <div class="time-label">
                    <span class="bg-success">
                      30 Mars 2020
                    </span>
                  </div>
                  <div>
                    <i class="fas fa-check bg-primary"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header border-0">Affectation au Département FABRICATION TEXTILE
                      </h3>
                    </div>
                  </div>
                  <div>
                    <i class="fas fa-check bg-primary"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header border-0">Date d'embauche
                      </h3>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block javascripts %}
<script>
  var donutChartCanvas = $('#presenceChart').get(0).getContext('2d')
  var donutData = {
    labels: [
      'Présence',
      'Absence justifié',
      'Absence non justifié'
    ],
    datasets: [
      {
        data: [5, 1, 1],
        backgroundColor: ['#00a65a', '#f39c12', '#f56954'],
      }
    ]
  }
  var donutOptions = {
    maintainAspectRatio: false,
    responsive: true,
    legend: {
      position: 'right',
      display: true,
      labels: {

      }
    }
  }
  var donutChart = new Chart(donutChartCanvas, {
    type: 'doughnut',
    data: donutData,
    options: donutOptions
  })
</script>
{% endblock %}